
#flag{
    position:absolute;
    top: 290px;
    right: 13px;
    z-index: 20000;
     
}

li:hover{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #63347e;
    padding-bottom: 80px;
}

header,nav, section, aside, footer {
    padding: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    position: fixed;
}

header {
    background: #6d6ebe00;
    z-index: 2222;
}

nav {
    background: #4a3a70;
    width: 100%;
    height: 50px;
    position: absolute;
    margin-top: -20px;
    height: 85px;
    z-index: 32;
    
    
}

ul{
    position:absolute;
    left:440px;
    top:80px;
    display: flex;
    gap: 20px;
    list-style-type: none;
    cursor: pointer;
     background: #4a3a70;
}

main {
    min-height: 480px;
}

section {
    background: #613d8a;
    flex: 2;
    padding-bottom: 400px;
    width: 200px;
    height: 20px;
    bottom: 15;
    left: 500;
    position:absolute;
}

aside{
    background-color:#4a3a70;
    position:absolute;
    top: 23%;
    left: 0%;
    width: 12%;
    height: 50%;
    font-size: small;
  
}

footer {
    background: #b788ec;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45px;
    z-index: 1000;
    font-family: 'Franklin Gothic Medium';
}


#ingreso {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #ebd6ffcc;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(42, 0, 70, 0.699);
     z-index: 20000;
}

#ingreso form {
    display: flex;
    flex-direction: column;
}

#ingreso input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 5px;
     z-index: 20000;
}

#ingreso button {
    padding: 8px;
    background-color: #5bc096;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
     z-index: 20000;
}

#ingreso button:hover {
    background-color: #a046a8;
}
.parent {
  display: flex;
  height: 45px;
  
}
.item {
  margin: 10px;
  width: 85px;
  height: 65px;
  background: rgb(209, 19, 19);
}

.item-1 { object-fit: fill; }



#sec{
  position:absolute;
    top: 250px;
    right: 700px;
    font-size: xx-large;  
    color:aliceblue

}




#princip{
    background: #0000ff;
    flex: 0.35;
    width: 500px;
    height: 50px;
    top:34px;
    left: 500px;
    position:absolute;

}

#secund{
 background: #00ffe5;
    flex: 0.35;
    width: 500px;
    height: 50px;
    top:34px;
    left: 500px;
    position:absolute;
}

#fin{
background: #313485;
    flex: 0.35;
    width: 500px;
    height: 50px;
    top: 219px;
    left: 500px;
    position:absolute;
    }
    /* Galería */



li{
    background-color: rgb(8, 1, 1);
    padding: 0px 10px;
    background-color: blueviolet;
}

.gallery {
  display:grid;
  grid-template-columns:repeat(6, 1fr);
  gap: 15px;
    margin-left: 15%;
    height: 300px;
    margin-top: 125px;

}

.gallery img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 5px #0d0d1f;
    transition: transform 0.3s;
    height: 250px;
}

.galeria img:hover {
  transform: scale(1.05);
}

.background {
    background-color: #0d0d1f;
    opacity: 0.6;
}
#transparencia{
    position:fixed;
    top:0;
    left:0;
    width: 1920px;
    height: 1080px;
    background:#00000094;
    z-index:29;
}

#title {
    position: relative;
    font-size:xx-large;
    font-family: 'Franklin Gothic Medium';
    left: 720px;

}

#title{
    top: 7px;
    left: 540px;
    font-size: xx-large;
}

#logo{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 80px;
    height:80px;


}